body{
    text-align: center;
    background-color: bisque;
}

p{
   
    padding: 10px;
    border: solid 2px bisque;
    margin: auto;
}

div{
    background-color: whitesmoke;
    border-radius: 10px;
    font-size: 14px;
    text-align: left;
}